body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:25px;
  width:360px;
  height:640px;
  display:flex;
}
#u4752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:1617px;
  top:25px;
  width:360px;
  height:640px;
  display:flex;
}
#u4753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:660px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:25px;
  width:348px;
  height:660px;
  display:flex;
}
#u4754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:311px;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:310px;
  width:350px;
  height:311px;
  display:flex;
}
#u4755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:317px;
  width:108px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:117px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:355px;
  width:139px;
  height:117px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:117px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:355px;
  width:139px;
  height:117px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:485px;
  width:139px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:485px;
  width:139px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:515px;
  width:40px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:515px;
  width:40px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:660px;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:25px;
  width:320px;
  height:660px;
  display:flex;
}
#u4763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:79px;
}
#u4764 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:445px;
  width:90px;
  height:79px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:83px;
}
#u4765 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:546px;
  width:94px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:640px;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:25px;
  width:317px;
  height:640px;
  display:flex;
}
#u4766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:85px;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:244px;
  width:92px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:85px;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:352px;
  width:92px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:640px;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:738px;
  width:330px;
  height:640px;
  display:flex;
}
#u4770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:75px;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:906px;
  width:82px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:76px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1040px;
  width:82px;
  height:76px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:363px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:80px;
  width:360px;
  height:363px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:664px;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:738px;
  width:340px;
  height:664px;
  display:flex;
}
#u4775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:923px;
  width:90px;
  height:85px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:664px;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:738px;
  width:340px;
  height:664px;
  display:flex;
}
#u4778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:926px;
  width:77px;
  height:77px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1125px;
  width:77px;
  height:77px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:664px;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1441px;
  width:340px;
  height:664px;
  display:flex;
}
#u4781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:640px;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:1441px;
  width:314px;
  height:640px;
  display:flex;
}
#u4782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:640px;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:1441px;
  width:314px;
  height:640px;
  display:flex;
}
#u4783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1485px;
  width:114px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1485px;
  width:49px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:664px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1441px;
  width:334px;
  height:664px;
  display:flex;
}
#u4786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:327px;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:2159px;
  width:334px;
  height:327px;
  display:flex;
}
#u4787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:68px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:184px;
  width:78px;
  height:68px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:23px;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:457px;
  width:324px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4789 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4790_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:455px;
  width:22px;
  height:25px;
  display:flex;
}
#u4790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4791_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:495px;
  width:22px;
  height:25px;
  display:flex;
}
#u4791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:26px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:497px;
  width:387px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4792 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4793_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:533px;
  width:22px;
  height:25px;
  display:flex;
}
#u4793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:2282px;
  top:534px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4794 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:23px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:416px;
  width:324px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4795 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4796_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:2254px;
  top:568px;
  width:22px;
  height:25px;
  display:flex;
}
#u4796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:2283px;
  top:569px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4797 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4798_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:604px;
  width:22px;
  height:25px;
  display:flex;
}
#u4798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:2284px;
  top:605px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4799 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:2284px;
  top:637px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4800 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4801_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:2256px;
  top:636px;
  width:22px;
  height:25px;
  display:flex;
}
#u4801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:2285px;
  top:669px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4802 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4803_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:2257px;
  top:668px;
  width:22px;
  height:25px;
  display:flex;
}
#u4803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:2286px;
  top:700px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4804 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4805_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:2258px;
  top:699px;
  width:22px;
  height:25px;
  display:flex;
}
#u4805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:2286px;
  top:730px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4806 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4807_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:2258px;
  top:729px;
  width:22px;
  height:25px;
  display:flex;
}
#u4807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:2287px;
  top:760px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4808 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4809_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:759px;
  width:22px;
  height:25px;
  display:flex;
}
#u4809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:24px;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:2287px;
  top:794px;
  width:397px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4810 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4811_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:35px;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:793px;
  width:22px;
  height:25px;
  display:flex;
}
#u4811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:35px;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:2217px;
  top:347px;
  width:595px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u4812 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:89px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1712px;
  width:100px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1591px;
  width:65px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:1591px;
  width:65px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:89px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:1568px;
  width:87px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:101px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:2354px;
  width:110px;
  height:101px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:147px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:1634px;
  top:196px;
  width:153px;
  height:147px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
